#headerWrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f8efe0;
}

#headerWrapper header {
    max-width: 60rem;
    margin: 0;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#headerWrapper header img {
    width: 80px;
    height: auto;
    margin-left: 2rem;
}

#headerWrapper header span {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: left;
}

#navWrapper {
    background-color: $secondaryColor;
    padding: .002rem;
}

div.allCards {
    section {
        flex-basis: calc(33.333% - (($gutter*2)/3));
    }
}

#myButton {
    display: none;
}

ul.menuLinks li a {
    padding: .4rem 1rem;
}

ul.menuLinks, ul.menuLinks.open {
    display: flex;
    justify-content: flex-end;
}

ul.menuLinks a:hover {
    background-color: $thirdColor;
}

footer div {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

