#headerWrapper header img {
    display: block;
    width: 70px;
    height: auto;
}

#headerWrapper header span {
    font-size: 1.75rem;
}

div.allCards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - ($gutter)/2);
    }
}

footer div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}