$primaryColor: #1d295f;
$secondaryColor: #7c1d47;
$font-Family: 'Spline Sans', sans-serif;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$headerHeight: 60px;
$footerHeight: 50px;
$maxWidth: 960px;
